@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000e0;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-brand: #C3002F;
  --bg-brand-light: #FDEDED;
  --bg-brand-hover: #F9A8D4;

  --text-quinary: #98A2B3;
  --fg-quinary: #98A2B3;
  --fg-quaternary: #667085;
  --fg-senary: #D0D5DD;
  --fg-senary-alt:  #EAECF0;
  --fg-error-primary: #F04438;

  --border-secondary: #EAECF0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
