.reportButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: var(--space-3) var(--space-4);
  transition: color 0.2s ease;
}

.reportButton:hover {
  color: var(--gray-600);
}

.reportLink {
	color: var(--text-secondary);
	text-decoration: none;
  font-weight: 400;
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
}
