.reportButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 12px 16px;
  transition: color 0.2s ease;
}

.reportButton:hover {
  color: #475467;
}

.reportLink {
	color: #667085;
	text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
