.lastUpdate {
  display: flex;
  width: 215px;
  gap: 6px;
  padding: 22px 24px;

  border: 1px solid var(--border-secondary);
  border-left: 0;
  border-top: 0;

  font-size: 12px;
  color: var(--text-quinary);
}

.statusIcon {
  margin-top: 2px;
  margin-bottom: 2px;
}
