.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12px;
  gap: 6px;
  width: 100%;
  height: 60px;
  max-width: 986px;


  background: #f8f9fa;
  border-radius: 10px;
  user-select: none;
}

.item {
  padding: 6px 12px;
  margin: 12px 0;
  color: #344054;
  background: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.13s ease;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.item:hover {
  background: #e2e8f0;
  color: #334155;
}

.item.active {
  background: white;
  color: #1e293b;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: 600;
}
