.search {
  display: flex;
  align-items: center;
  width: 44.097%;
  gap: 6px;
  padding: 28px 24px;
  border: 1px solid var(--border-secondary);
  border-left: 0;
  border-top: 0;

  background: #F9FAFB;
}

.searchIcon {
  color: var(--fg-quinary);
}

.searchInput {
  width: 100%;

  border: none;
  background: transparent;
  outline: none;

  &::placeholder {
    font-size: 16px;
    color: var(--fg-senary);
  }
}

.shiftClue {
  display: inline-flex;
  padding: 5.5px 6px;
  align-items: center;
  gap: 2px;
  color: var(--fg-quaternary);
  white-space: nowrap;

  border-radius: 4px;
  border: 1px solid var(--border-secondary);

  @media (max-width: 1024px) {
    display: none;
  }
}

.shiftKey {
  font-size: 10px;
}

.arrowUp {
  margin: 5px;
}
