.search {
  display: flex;
  align-items: center;
  width: 44.097%;
  flex-grow: 1;
  gap: var(--space-1_5);
  padding: var(--space-7) var(--space-6);
  border: 1px solid var(--border-secondary);
  border-left: 0;
  border-top: 0;

  background: var(--bg-subtle);
}

.searchIcon {
  color: var(--fg-quinary);
}

.searchInput {
  width: 100%;

  border: none;
  background: transparent;
  outline: none;

  &::placeholder {
      font-size: var(--font-size-lg);
    color: var(--fg-senary);
  }
}

.shiftClue {
  display: inline-flex;
  padding: 5.5px var(--space-1_5);
  align-items: center;
  gap: 2px;
  color: var(--fg-quaternary);
  white-space: nowrap;

  border-radius: 4px;
  border: 1px solid var(--border-secondary);

  @media (max-width: 1024px) {
    display: none;
  }
}

.shiftKey {
  font-size: var(--font-size-xs);
}

.arrowUp {
  margin: 5px;
}
