.monitoring {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  flex-grow: 1;
  padding: 12px;
}

.vmSwitcher {
  justify-content: center;
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
