.statsRow {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 8px;
}

.statItem {
  min-width: 237.5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 24px;

  border-radius: 12px;
  background: #FCFCFD;

  &:has(.good) {
    background: linear-gradient(262.65deg, #FCFCFD 50.5%, #F6FEF9 100%);
  }

  &:has(.warning) {
    background: linear-gradient(262.65deg, #FCFCFD 49.5%, #FFFCF5 100%);
  }

  &:has(.danger) {
    background: linear-gradient(262.65deg, #FCFCFD 50%, #FFFBFA 100%);
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  white-space: nowrap;
}

.valueWrapper {
  display: flex;
  justify-content: space-between;
  place-items: baseline;
}

.value {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #182230;
}

.arrow {
  width: 20px;
  height: 20px;
}

.percent {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #98A2B3;
}

.good {
  color: #067647;
}

.warning {
  color: #93370D;
}

.danger {
  color: #912018;
}
