.leftMenu {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: calc(100vh - 80px);
  padding: var(--space-1_5) var(--space-1_5) 0;
  gap: 2px;

  background: var(--bg-surface);
  border-right: 1px solid var(--border-secondary);

  &> :first-child {
    background: var(--bg-soft);
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  border-radius: var(--radius-sm);

  &:hover {
    background: var(--bg-soft);
  }
}

.spacer {
  margin-top: auto;
}
