.statItem {
  min-width: 237.5px;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-3) var(--space-6);

  border-radius: var(--radius-lg);
  background: var(--bg-surface);

  &:has(.good) {
    background: linear-gradient(
      262.65deg,
      var(--bg-surface) 50.5%,
      var(--bg-success-soft) 100%
    );
  }

  &:has(.warning) {
    background: linear-gradient(
      262.65deg,
      var(--bg-surface) 49.5%,
      var(--bg-warning-soft) 100%
    );
  }

  &:has(.danger) {
    background: linear-gradient(
      262.65deg,
      var(--bg-surface) 50%,
      var(--bg-danger-soft) 100%
    );
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
  color: var(--text-secondary);
  white-space: nowrap;
}

.valueWrapper {
  display: flex;
  justify-content: space-between;
  place-items: baseline;
}

.value {
  font-weight: 600;
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-3xl);
  color: var(--text-primary);
}

.arrow {
  width: var(--space-5);
  height: var(--space-5);
}

.percent {
  font-weight: 500;
  font-size: 13px;
  line-height: var(--line-height-base);
  color: var(--text-muted);
}

.good {
  color: var(--status-success);
}

.warning {
  color: var(--status-warning);
}

.danger {
  color: var(--status-danger);
}
