.container {
	background: #F9FAFB;
  width: 986px;
  padding: 8px 8px 0;
  border-radius: 12px;
  margin-bottom: 32px;
}

.header {
  display: flex;
  padding: 4px 0 8px 16px;
  margin-bottom: 8px;
  justify-content: space-between;
  align-items: center;
}

.switcher {
  width: unset;
  height: unset;
  margin-bottom: 5px;

  button {
    margin: 0;
  }
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}
