.container {
	background: #F9FAFB;
  width: 653px;
  padding: 8px 0;
  border-radius: 12px;
}

.header {
  display: flex;
  padding: 4px 16px;
  margin-bottom: 8px;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}
