.innerMenu {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-right: 1px solid var(--border-secondary);
  gap: 16px;
  padding: 16px;
}

.label {
  padding-left: 8px;

  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-quinary);
  white-space: pre-line;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1px;

  &> :first-child {
    background: #F2F4F7;
    border-radius: 6px;
  }
}

.option {
  display: flex;
  gap: 10px;
  padding: 12px;
  align-items: center;

  font-size: 16px;
  line-height: 25px;
  color: #101828;
  font-weight: 500;
}
