.container {
	background: #F9FAFB;
  width: 653px;
  padding: 8px 0;
  border-radius: 12px;
}

.header {
  display: flex;
  padding: 4px 16px;
  margin-bottom: 8px;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}

.switcher {
  width: unset;
  height: unset;

  button {
    margin: 0;
  }
}

.columns {
  display: flex;
  margin: 0 6px;
  gap: 6px;
}

.barColumn {
  width: 101.83px;
  height: 241px;
}

.barBackground {
  position: relative;
  width: 100%;
  height: 100%;
  background: #F2F4F7;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.barFill {
  width: 100%;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 12px;

  svg {
    margin-bottom: auto;
    transform: translateY(-22px);
  }
}

.barFillGrey {
  background: linear-gradient(0deg, var(--color-gray-600, #475467), var(--color-gray-600, #475467)),
    linear-gradient(166.23deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.barFillLow {
  background: linear-gradient(0deg, var(--Background-color-bg-brand, #C3002F), var(--Background-color-bg-brand, #C3002F)),
    linear-gradient(166.23deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.barPercent {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #98A2B3;
}

.barCount {
  position: absolute;
  margin-bottom: 6px;
  background: #FFFFFF;
  padding: 2px 4px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #101828;
}

.statsContainer {
  display: flex;
  margin: 12px 6px 8px;
  gap: 6px;
}

.card {
  padding: 12px;
  min-width: 317.5px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  gap: 12px;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTotal {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #475467;
}

.cardSubtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #98A2B3;
}

.percentBadge {
  padding: 2px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #98A2B3;
  background: #F2F4F7;
  border-radius: 4px;
}
