.container {
  position: relative;
	background: #F9FAFB;
  width: 320px;
  padding: 8px 0;
  border-radius: 12px;
}

.title {
  padding: 4px 16px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}

.ghostButton {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 8px;
  margin-left: 16px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  color: #667085;
  background: #F2F4F7;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 28px 6px 0;
}

.item {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  padding: 0 4px 0;
  border-radius: 6px;
}

.left {
	display: flex;
	align-items: center;
  padding: 4px 0 4px;
	gap: 6px;
}

.badge {
  display: flex;
	align-items: center;
	justify-content: center;
  width: 24px;
  padding: 2px 6.5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: #F9FAFB;
  border-radius: 4px;
}

.hash {
  color: #667085;
}

.machineId {
  display: flex;
  gap: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}

.right {
  display: flex;
  gap: 6px;
}

.fillWrapper {
  width: 83.5px;
}

.percentage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667085;
}

.itemLine {
  width: 100%;
  height: 4px;
  background: #EAECF0;
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;

  .line {
    height: 100%;
  }
}

